<section id="inicio" class="section-wrapper" data-aos="fade-down">
  <div class="section">
    <img class="image-icon" alt="" src="assets/image@2x.png" />
    <div class="hero-description">
      <div class="container-ajust">
        <img class="image-icon1" alt="" src="assets/image-1@2x.png" />
        <div class="hero-title" data-aos="fade-right">
          <h2 data-aos="fade-down" data-aos-duration="1500" class="heading-3">
            Hello, I’m
          </h2>
          <h1
            data-aos="fade-right"
            data-aos-duration="2000"
            class="edward-davis"
          >
            <p class="edward">Edward</p>
            <p class="edward">Davis</p>
          </h1>
        </div>
        <div class="hero-profession">
          <h1 class="heading-2">Visual Designer</h1>
          <button class="link">
            <div class="hire-me">Hire me</div>
          </button>
        </div>
      </div>
    </div>
    <img
      class="hero-imgjpg-icon"
      data-aos="fade-left"
      data-aos-duration="2500"
      alt=""
      src="assets/heroimgjpg@2x.png"
    />
    <!-- <div class="backgroundborder">
      <div class="link1">
        <div class="dribbble-icon">
          <h3 class="symbol"></h3>
        </div>
        <div class="container1">
          <a
            class="dribbble"
            href="https://www.figma.com/design/LmS86ScjrkDUjRfPk16o0R?node-id=11-1656"
            target="_blank"
            >Dribbble</a
          >
        </div>
      </div>
      <div class="link2">
        <h3 class="symbol1"></h3>
      </div>
      <div class="link3">
        <h3 class="symbol2"></h3>
      </div>
      <div class="link4">
        <h3 class="symbol3"></h3>
      </div>
    </div> -->
  </div>
</section>
