<div class="section2">
  <!-- <div class="resume"> -->
  <!-- <div class="experience" style="margin-right: 5em;">
          <div class="experience-icon">
            <img class="resume-icon1png" loading="lazy" alt="" src="assets/resumeicon1png@2x.png" />
          </div>
          <h1 class="heading-27">Experience</h1>
        </div> -->
<div class="resume-title">

  <div class="resume-title-parent">
    <div class="resume-title">
      <div class="resume-header">
        <h1 class="heading-28">RESUME</h1>
        <div class="resume-divider-wrapper">
          <div class="horizontal-divider18"></div>
          <div class="horizontal-divider19"></div>
        </div>
        <h3 class="resume1">RESUME</h3>
      </div>
    </div>
  </div>
</div>
  <!-- </div> -->

  <!-- <div class="experience" style="margin-right: 5em;">
        <div class="experience-icon">
          <img class="resume-icon1png" loading="lazy" alt="" src="assets/resumeicon1png@2x.png" />
        </div>
        <h1 class="heading-27">Experience</h1>
      </div> -->

  <!-- <div class="experience">
        <div class="experience-icon">
          <img class="resume-icon1png" loading="lazy" alt="" src="assets/resumeicon1png@2x.png" />
        </div>
        <h1 class="heading-27">Education</h1>
      </div> -->

  <div class="experiences">
    <div class="experiences-content">
      <div>
        <div class="experience" style="margin-right: 5em">
          <div class="experience-icon">
            <img
              class="resume-icon1png"
              loading="lazy"
              alt=""
              src="assets/resumeicon1png@2x.png"
            />
          </div>

          <div align="center">
            <h1 class="heading-27">Experience</h1>
          </div>
        </div>

        <div class="verticalborder">
          <div class="experiences-items">
            <div class="backgroundborder3"></div>
            <div class="backgroundborder3"></div>
            <div class="backgroundborder3"></div>
          </div>

          <div class="experience-details">
            <div class="experience-roles">
              <h3 class="heading-37">Senior UX/UI Designer</h3>
              <div class="jan-2020-">Jan 2020 - Present</div>
            </div>
            <div class="senior-company">
              <div class="heading-41">Bergnaum, Hills and Howe</div>
              <div class="lorem-ipsum-dolor-container3">
                <p class="ligula-nulla-tincidunt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                </p>
                <p class="ligula-nulla-tincidunt">
                  ligula nulla, tincidunt id faucibus sed, suscipit feugiat
                  turpis.
                </p>
              </div>
            </div>
            <div class="experience-roles">
              <h3 class="heading-37">Product Designer</h3>
              <div class="jan-2020-">Jan 2016 - December 2019</div>
            </div>
            <div class="senior-company">
              <div class="heading-41">Langosh, Sipes and Raynor</div>
              <div class="lorem-ipsum-dolor-container3">
                <p class="ligula-nulla-tincidunt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                </p>
                <p class="ligula-nulla-tincidunt">
                  ligula nulla, tincidunt id faucibus sed, suscipit feugiat
                  turpis.
                </p>
              </div>
            </div>
            <div class="u-i-experience">
              <h3 class="heading-39">UI/UX Designer</h3>
              <div class="jan-2020-">Jan 2014 - December 2015</div>
            </div>
            <div class="u-i-experience-company">
              <div class="heading-41">Strosin, Maggio and Homenick</div>
              <div class="lorem-ipsum-dolor-container5">
                <span>
                  <p class="ligula-nulla-tincidunt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc
                  </p>
                  <p class="ligula-nulla-tincidunt">
                    ligula nulla, tincidunt id faucibus sed, suscipit feugiat
                    turpis.
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="padding-top: 5em;">
        <div class="experience">
          <div class="experience-icon">
            <img
              class="resume-icon1png"
              loading="lazy"
              alt=""
              src="assets/resumeicon1png@2x.png"
            />
          </div>
          <h1 class="heading-27">Education</h1>
        </div>
        <div class="verticalborder">
          <div class="experiences-items">
            <div class="backgroundborder3"></div>
            <div class="backgroundborder3"></div>
            <div class="backgroundborder3"></div>
          </div>
          <div class="experience-details">
            <div class="heading-3-master-of-computer-parent">
              <h3 class="heading-37">Master of Computer Science</h3>
              <div class="div11">2015 - 2016</div>
            </div>
            <div class="senior-company">
              <div class="heading-41">University of XYZ</div>
              <div class="lorem-ipsum-dolor-container3">
                <p class="ligula-nulla-tincidunt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                </p>
                <p class="ligula-nulla-tincidunt">
                  ligula nulla, tincidunt id faucibus sed, suscipit feugiat
                  turpis.
                </p>
              </div>
            </div>
            <div class="frame-parent3">
              <div class="heading-3-master-of-computer-parent">
                <h3 class="heading-37">Bachelor of Computer Science</h3>
                <div class="experience-two-sub">2010 - 2014</div>
              </div>
              <div class="heading-45">University of ABC</div>
              <div class="lorem-ipsum-dolor-container3">
                <p class="ligula-nulla-tincidunt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                </p>
                <p class="ligula-nulla-tincidunt">
                  ligula nulla, tincidunt id faucibus sed, suscipit feugiat
                  turpis.
                </p>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="heading-3-master-of-computer-parent">
                <h3 class="heading-37">Diploma in Computer Science</h3>
                <div class="experience-three-sub">2006 - 2010</div>
              </div>
              <div class="heading-45">XYZ Institution</div>
              <div class="lorem-ipsum-dolor-container5">
                <span>
                  <p class="ligula-nulla-tincidunt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc
                  </p>
                  <p class="ligula-nulla-tincidunt">
                    ligula nulla, tincidunt id faucibus sed, suscipit feugiat
                    turpis.
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
