<div class="tabpanel2" [ngStyle]="tabpanelStyle">
      <img class="link-icon7" alt="" [src]="link" [ngStyle]="linkIconStyle" />
      <div class="news-details" [ngStyle]="newsDetailsStyle">
        <div class="news-info">
          <div class="by">By: </div>
          <div class="admin-one">
            <div class="admin" [ngStyle]="adminStyle">Admin</div>
          </div>
          <div class="admin-three">
            <div class="news-item-date">|</div>
          </div>
          <div class="news-item-date1">27-09-2020</div>
        </div>
        <div class="what-are-the-container">
          <p class="what-are-the">{{whatAreTheLatestTrendsInGraph}}</p>
          <p class="what-are-the">{{designAccordingToYou}}</p>
        </div>
      </div>
    </div>