<section class="about">
      <div class="about-wrapper-parent">
        <div class="about-wrapper">
          <div class="services-content">
            <h1 class="heading-21">ABOUT ME</h1>
            <div class="portfolios-title">
              <div class="horizontal-divider" ></div>
              <div class="horizontal-divider1" ></div>
            </div>
            <h3 class="about-me">ABOUT ME</h3>
          </div>
        </div>
        <div class="about-details">
          <img class="image-icon2" alt="" src="assets/image-2@2x.png" />
          <div class="about-info">
            <div class="about-bio">
              <div class="about-intro">
                <h1 class="heading-22">Hi There! I'm Edward Davis</h1>
                <div class="bio-profession">
                  <h3 class="heading-4">Visual Designer</h3>
                  <div class="i-am-a-container">
                    <p class="i-am-a">I am a Visual Designer with a strong focus on digital branding. Visul</p>
                    <p class="i-am-a">design seeks to attract, inspire, create desires and motivate people to</p>
                    <p class="i-am-a">respond to messages, with a view to making a favorable impact.</p>
                  </div>
                </div>
                <div class="list">
                  <div class="item">
                    <div class="personal-details">
                      <div class="birthday">Birthday</div>
                    </div>
                    <div class="empty-data"> : </div>
                    <div class="may-07-1990">May 07, 1990</div>
                  </div>
                  <div class="item">
                    <div class="personal-details">
                      <div class="phone">Phone</div>
                    </div>
                    <div class="empty-data"> : </div>
                    <div class="devisexamplecom">+1 876-369-9009</div>
                  </div>
                  <div class="item">
                    <div class="personal-details">
                      <div class="email">Email</div>
                    </div>
                    <div class="empty-data"> : </div>
                    <div class="devisexamplecom">devis&#64;example.com</div>
                  </div>
                  <div class="item">
                    <div class="personal-details">
                      <div class="from">From</div>
                    </div>
                    <div class="empty-data"> : </div>
                    <div class="hich-meadow-lane">2661 Hich meadow lane bear creek</div>
                  </div>
                  <div class="item4">
                    <div class="language-wrapper">
                      <div class="language">Language</div>
                    </div>
                    <div class="div4"> : </div>
                    <div class="hich-meadow-lane">English, Germanic</div>
                  </div>
                  <div class="item">
                    <div class="language-wrapper">
                      <div class="freelance">Freelance</div>
                    </div>
                    <div class="empty-data"> : </div>
                    <div class="available">Available</div>
                  </div>
                </div>
              </div>
              <button class="link5">
                <a class="download-cv" href="https://www.figma.com/design/LmS86ScjrkDUjRfPk16o0R?node-id=11-1656" target="_blank">Download CV</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
