<header class="header">
  <img class="link-icon" loading="lazy" alt="" src="assets/link@2x.png" />
  <div class="item-link">
    <div class="blog">Blog</div>
  </div>
  <div class="navigation">
    <div class="navigation-links">
      <a class="inicio">INICIO</a>
    </div>
    <div class="navigation-links1">
      <a class="sobre">SOBRE</a>
    </div>
    <a class="curriculo">CURRICULO</a>
    <div class="navigation-links2">
      <a class="portfolio">Portfolio</a>
    </div>
    <div class="navigation-links3">
      <a class="contato">CONTATO</a>
    </div>
    <div class="header-divider">
      <div class="vertical-divider"></div>
    </div>
    <div class="header-image">
      <div class="hero">
        <div class="hero-content">
          <img class="svg-icon" loading="lazy" alt="" src="assets/svg.svg" />
        </div>
        <a class="a">+1 971 234 1508</a>
      </div>
    </div>
  </div>
</header>

<!-- <frame-component1> </frame-component1> -->
