.link-icon {
  height: 20px;
  width: 149px;
  position: relative;
  object-fit: cover;
}
.blog {
  position: absolute;
  top: 19px;
  left: 0;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 42px;
  height: 26px;
}
.item-link {
  height: 55.6px;
  width: 41.7px;
  position: relative;
  display: none;
}
.inicio {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 45.3px;
}
.navigation-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 0;
}
.sobre {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.navigation-links1 {
  width: 65.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.curriculo,
.portfolio {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 86px;
}
.portfolio {
  min-width: 86.7px;
}
.navigation-links2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
}
.contato {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 71.7px;
}
.navigation-links3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.vertical-divider {
  width: 1px;
  height: 11px;
  position: relative;
  background-color: var(--color-white);
}
.header-divider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xl) var(--padding-xs-7) 0;
}
.svg-icon {
  width: 15px;
  height: 15px;
  position: relative;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-3) 0 0;
}
.a {
  text-decoration: none;
  position: relative;
  line-height: 26px;
  color: inherit;
  display: inline-block;
  min-width: 124.9px;
  white-space: nowrap;
}
.header-image,
.hero {
  display: flex;
  align-items: flex-start;
}
.hero {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.header-image {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  font-size: var(--font-size-base);
  color: var(--color-goldenrod);
  font-family: var(--font-inter);
}
.header,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xl-9);
  max-width: 100%;
  color: var(--color-gray-100);
}
.header {
  align-self: stretch;
  height: 80px;
  box-shadow: 0 10px 10px -10px rgba(7, 13, 27, 0.1);
  background-color: var(--color-gray-400);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xl-4) var(--padding-xl) var(--padding-3xl-8)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-231xl);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-goldenrod);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1400px) {
  .header {
    gap: var(--gap-106xl);
  }
}
@media screen and (max-width: 925px) {
  .navigation {
    display: none;
  }
  .header {
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 450px) {
  .header {
    gap: var(--gap-12xl);
  }
}
