<section id="title-contact">
  <app-title-section
    [title]="title"
  ></app-title-section>
</section>
<section class="section-parent">
  <div class="section4 container">
    <!-- <div class="contact-header">
      <h2 class="heading-313">Just say Hello</h2>
      <div class="contact-title-wrapper">
        <div class="heading-2-contact-me-parent">
          <h1 class="heading-213">CONTACT ME</h1>
          <div class="contact-divider-wrapper">
            <div class="horizontal-divider26" ></div>
            <div class="horizontal-divider27" ></div>
          </div>
          <h3 class="contact-me">CONTACT ME</h3>
        </div>
        <div class="contact-info-wrapper">
          <h2 class="heading-313">Contact Info</h2>
        </div>
      </div>
    </div> -->
    <div class="contact-form-wrapper">
      <div class="email-address-wrapper-wrapper">
        <div class="email-address-wrapper">
          <div class="input">
            <input class="your-name" placeholder="Your Name" type="text" />
          </div>
          <div class="input">
            <input class="your-email" placeholder="Your Email" type="text" />
          </div>
          <div class="input">
            <input
              class="your-subject"
              placeholder="Your Subject"
              type="text"
            />
          </div>
          <div class="textarea"></div>
          <button class="button">
            <div class="send-message">Send message</div>
          </button>
        </div>
      </div>
      <div class="contact-details">
        <div class="lorem-ipsum-dolor-sit-amet-co-parent">
          <div class="lorem-ipsum-dolor-container13">
            <p class="nulla-tincidunt-id">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              ligula
            </p>
            <p class="nulla-tincidunt-id">
              nulla tincidunt id faucibus sed suscipit feugiat.
            </p>
          </div>
          <!-- <div class="contact-methods">
            <div class="email-wrapper1">
              <div class="backgroundborder-container">
                <div class="backgroundborder13">
                  <div class="symbol4"></div>
                </div>
              </div>
              <div class="heading-4-email-parent">
                <div class="heading-49">Email</div>
                <div class="email-addresses">
                  <a class="infosupportcom" href="https://www.figma.com/design/LmS86ScjrkDUjRfPk16o0R?node-id=11-1656" target="_blank">devis&#64;example.com</a>
                  <a class="infosupportcom" href="https://www.figma.com/design/LmS86ScjrkDUjRfPk16o0R?node-id=11-1656" target="_blank">info&#64;support.com</a>
                </div>
              </div>
            </div>
            <div class="phone-wrapper1">
              <div class="backgroundborder-container">
                <div class="phone-icon-wrapper">
                  <div class="backgroundborder13">
                    <div class="symbol4"></div>
                  </div>
                  <div class="backgroundborder15">
                    <div class="symbol6"></div>
                  </div>
                </div>
              </div>
              <div class="phone-number">
                <div class="heading-4-phone-parent">
                  <div class="heading-410">Phone</div>
                  <div class="email-addresses">
                    <div class="numbers">+1 876-369-9009</div>
                    <div class="numbers1">+1 213-519-1786</div>
                  </div>
                </div>
                <div class="address-wrapper">
                  <div class="heading-411">Address</div>
                  <div class="high-meadow-lane-container">
                    <span>
                      <p class="nulla-tincidunt-id">2661 High Meadow Lane Bear Creek,</p>
                      <p class="nulla-tincidunt-id">Olancha, KY 93544</p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- <div class="social-links-wrapper">
          <div class="visite-my-social">Visite my social profile and get connected</div>
          <div class="link-parent">
            <div class="link7">
              <div class="dribbble-icon-wrapper">
                <h3 class="symbol7"></h3>
              </div>
              <div class="container5">
                <a class="dribbble1" href="https://www.figma.com/design/LmS86ScjrkDUjRfPk16o0R?node-id=11-1656" target="_blank">Dribbble</a>
              </div>
            </div>
            <div class="link8">
              <h3 class="symbol8"></h3>
            </div>
            <div class="link9">
              <h3 class="symbol9"></h3>
            </div>
            <div class="link10">
              <h3 class="symbol10"></h3>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <footer class="footer-wrapper">
      <div class="footer">
        © 2020. Designed by Laralink. All right reserved.
      </div>
    </footer>
  </div>
</section>
