.lading-page,
.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.services-header {
  align-self: stretch;
  padding: 0 0 var(--padding-59xl);
  max-width: 100%;
}
.lading-page {
  width: 100%;
  position: relative;
  background: linear-gradient(#0a101e, #0a101e), #0a101e;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0 0 20.7px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .services-header {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .services-header {
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .services-header {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }

}
