.lading-page,
.services-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.services-header {
  align-self: stretch;
  padding: 0 0 var(--padding-59xl);
  max-width: 100%;
}

.lading-page {
  width: 100%;
  position: relative;
  background: linear-gradient(#0a101e, #0a101e), #0a101e;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0 0 20.7px;
  line-height: normal;
  letter-spacing: normal;
}

.btn-topo {
  position: fixed;
  right: 26px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 6px 15px;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
  bottom: 87px;
  background-color: #00000093;
  width: 40px;
  height: 40px;
  background-color: #00000070;
  border-radius: 50%;
  display: inline-block;

}


@media screen and (max-width: 1400px) {
  .services-header {
    padding-bottom: var(--padding-32xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 925px) {
  .services-header {
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {
  .services-header {
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }

}
