<app-nav></app-nav>
<div class="lading-page">
  <!-- <header-1> </header-1> -->
  <frame-component> </frame-component>

  <about> </about>

  <services> </services>

  <section class="services-header">
    <section-1> </section-1>

    <section1> </section1>
  </section>
  <portfolios> </portfolios>
  <reviews> </reviews>
  <news> </news>
</div>
<!-- <frame-component1> </frame-component1> -->
<!-- <app-footer></app-footer> -->

<a href="#inicio" class="btn-topo"> &#x2191; </a>
<!-- botão flutuante whatsapp -->
<a
  href="http://wa.me/5511977433859"
  class="btn-whatsapp"
  target="_blank"
  style="position: fixed; right: 15px; bottom: 15px"
>
  <img
    src="https://i.ibb.co/VgSspjY/whatsapp-button.png"
    alt="botão whatsapp"
  />
</a>
