<app-title-section id="portifolio" [title]="title" class="ajust-title-port"></app-title-section>
<section class="portfolios container">
  <div class="portfolios-title1">
    <div class="portfolio-items">
      <div class="portfolio-item">
        <img
          class="link-icon1"
          alt=""
          src="assets/link-1@2x.png"
          data-aos="zoom-in"
          data-aos-duration="1500"
        />
        <img
          class="link-icon1"
          alt=""
          src="assets/link-2@2x.png"
          data-aos="zoom-in"
          data-aos-duration="1500"
        />
      </div>

      <div class="portfolio-item">
        <img
          class="link-icon1"
          alt=""
          src="assets/link-5@2x.png"
          data-aos="zoom-in"
          data-aos-duration="1500"
        />
        <img
          class="link-icon1"
          alt=""
          src="assets/link-6@2x.png"
          data-aos="zoom-in"
          data-aos-duration="1500"
        />
      </div>

      <div class="portfolio-item">
        <img
          class="link-icon1"
          alt=""
          src="assets/link-3@2x.png"
          data-aos="zoom-in"
          data-aos-duration="1500"
        />
        <div class="load-more-button">
          <img
            class="link-icon4"
            alt=""
            src="assets/link-4@2x.png"
            data-aos="zoom-in"
            data-aos-duration="1500"
          />
          <div class="link-wrapper"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="align-btn-load">
  <button class="link6">
    <a
      class="load-more"
      href="https://www.figma.com/design/LmS86ScjrkDUjRfPk16o0R?node-id=11-1656"
      target="_blank"
      >Load More</a
    >
  </button>
</div>
