<section class="portfolios">
      <div class="portfolios-title1">
        <div class="portfolios-content">
          <div class="news-divider">
            <h1 class="heading-210">PORTFOLIOS</h1>
            <div class="portfolios-title-divider">
              <div class="horizontal-divider20" ></div>
              <div class="horizontal-divider21" ></div>
            </div>
            <h3 class="portfolios1">PORTFOLIOS</h3>
          </div>
        </div>
        <div class="portfolio-items">
          <div class="portfolio-item">
            <img class="link-icon1" alt="" src="assets/link-1@2x.png" />
            <img class="link-icon1" alt="" src="assets/link-2@2x.png" />
          </div>
          <div class="portfolio-item">
            <img class="link-icon1" alt="" src="assets/link-3@2x.png" />
            <div class="load-more-button">
              <img class="link-icon4" alt="" src="assets/link-4@2x.png" />
              <div class="link-wrapper">
                <button class="link6">
                  <a class="load-more" href="https://www.figma.com/design/LmS86ScjrkDUjRfPk16o0R?node-id=11-1656" target="_blank">Load More</a>
                </button>
              </div>
            </div>
          </div>
          <div class="portfolio-item">
            <img class="link-icon1" alt="" src="assets/link-5@2x.png" />
            <img class="link-icon1" alt="" src="assets/link-6@2x.png" />
          </div>
        </div>
      </div>
    </section>