<section class="reviews">
      <div class="section3">
        <div class="reviews-title">
          <div class="reviews-title1">
            <h1 class="heading-211">REVIEWS</h1>
            <div class="reviews-divider">
              <div class="horizontal-divider22" ></div>
              <div class="horizontal-divider23" ></div>
            </div>
            <h3 class="reviews1">REVIEWS</h3>
          </div>
        </div>
        <div class="review-list">
          <div class="container3">
            <div class="tabpanel1">
              <div class="backgroundborder11">
                <img class="quotepng-icon1" loading="lazy" alt="" src="assets/quotepng@2x.png" />
                <div class="backgroundborder12" ></div>
                <blockquote class="lorem-ipsum-dolor-container11">
                  <span class="lorem-ipsum-dolor-container12">
                    <p class="lorem-ipsum-dolor10">“Lorem ipsum dolor sittem ametamngcing</p>
                    <p class="lorem-ipsum-dolor10">elit, per sed do eiusmoad teimpor sittem</p>
                    <p class="lorem-ipsum-dolor10">elit inuning utsed sittem do eiusmod.”</p>
                  </span>
                </blockquote>
              </div>
              <div class="reviewer">
                <div class="reviewer-details">
                  <div class="reviewer-image">
                    <img class="client1png-icon" loading="lazy" alt="" src="assets/client1png@2x.png" />
                  </div>
                  <div class="reviewer-info">
                    <div class="heading-48">Richard Miles</div>
                    <div class="reviewer-role">
                      <div class="chairman">Chairman</div>
                    </div>
                  </div>
                </div>
              </div>
            </div><tabpanel [client2png]="'assets/client2png@2x.png'" [heading4VestaShufelt]="'Vesta Shufelt'" [executiveDirector]="'Executive Director'"> </tabpanel><tabpanel [client2png]="'assets/client3png@2x.png'" [heading4VestaShufelt]="'Joseph Alves'" [executiveDirector]="'Managing Director'"> </tabpanel>
          </div>
        </div>
      </div>
    </section>