<div class="tabpanel">
      <div class="backgroundborder9">
        <img class="quotepng-icon" alt="" src="assets/quotepng@2x.png" />
        <div class="backgroundborder10" ></div>
        <blockquote class="lorem-ipsum-dolor-container9">
          <span class="lorem-ipsum-dolor-container10">
            <p class="elit-inuning-utsed">“Lorem ipsum dolor sittem ametamngcing</p>
            <p class="elit-inuning-utsed">elit, per sed do eiusmoad teimpor sittem</p>
            <p class="elit-inuning-utsed">elit inuning utsed sittem do eiusmod.”</p>
          </span>
        </blockquote>
      </div>
      <div class="tabpanel-inner">
        <div class="frame-parent5">
          <div class="client2png-wrapper">
            <img class="client2png-icon" loading="lazy" alt="" [src]="client2png" />
          </div>
          <div class="frame-parent6">
            <div class="heading-4-vesta-shufelt-wrapper">
              <div class="heading-47">{{heading4VestaShufelt}}</div>
            </div>
            <div class="executive-director">{{executiveDirector}}</div>
          </div>
        </div>
      </div>
    </div>