<!-- <div>
  <div class="detail" style="padding-top: 2em">
    <img
      style="width: 10em; height: auto"
      src="assets/web-detail.png"
      alt=""
    />
  </div>
  <div align="center" class="pt-2">
    <div class="ajust-title">
      <div class="news-divider">
        <h1 class="heading-210">SERVICES</h1>
        <div class="portfolios-title-divider">
          <div class="horizontal-divider20"></div>
          <div class="horizontal-divider21"></div>
        </div>
        <div class="ajust-title">
          <h3 align="center" class="portfolios1">SERVICES</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-title-section [title]="title" class="ajust-service-title"></app-title-section>

<section id="services" class="content-container">

  <div class="content-container">
    <div class="container-content">
      <div class="services">
        <div class="services-content1">
          <div class="service-list">
            <div class="backgroundborder2">
              <div class="service-elements">
                <img
                  class="backgroundborder-icon1"
                  loading="lazy"
                  alt=""
                  src="assets/backgroundborder.svg"
                />
              </div>
              <div class="service-content">
                <div class="service-headers">
                  <div class="heading-25">Sketches</div>
                </div>
                <div class="lorem-ipsum-dolor-container1">
                  <p class="lorem-ipsum-dolor1">
                    Lorem ipsum dolor sittem ametamn
                  </p>
                  <p class="lorem-ipsum-dolor1">
                    elit, per sed do eiusmoad teimpor
                  </p>
                  <p class="lorem-ipsum-dolor1">
                    sittem elit inuning utsed sittem.
                  </p>
                </div>
              </div>
            </div>
            <background-border
              class="ajust-card"
              [backgroundBorder]="'assets/backgroundborder-1.svg'"
              [heading2UIUXDesign]="'UI/UX Design'"
            >
            </background-border
            ><background-border
              [backgroundBorder]="'assets/backgroundborder-2.svg'"
              [propAlignSelf]="'unset'"
              [propAlignSelf1]="'unset'"
              [heading2UIUXDesign]="'Product Design'"
              [propDisplay]="'unset'"
              [propMinWidth]="'unset'"
              [propFlex]="'unset'"
            >
            </background-border
            ><background-border
              [backgroundBorder]="'assets/backgroundborder-3.svg'"
              [propAlignSelf]="'unset'"
              [propAlignSelf1]="'unset'"
              [heading2UIUXDesign]="'App Design'"
              [propDisplay]="'inline-block'"
              [propMinWidth]="'110px'"
              [propFlex]="'unset'"
            >
            </background-border
            ><background-border
              [backgroundBorder]="'assets/backgroundborder-4.svg'"
              [propAlignSelf]="'unset'"
              [propAlignSelf1]="'unset'"
              [heading2UIUXDesign]="'Motion Graphics'"
              [propDisplay]="'unset'"
              [propMinWidth]="'unset'"
              [propFlex]="'unset'"
            >
            </background-border
            ><background-border
              [backgroundBorder]="'assets/backgroundborder-5.svg'"
              [propAlignSelf]="'stretch'"
              [propAlignSelf1]="'stretch'"
              [heading2UIUXDesign]="'Responsive Design'"
              [propDisplay]="'unset'"
              [propMinWidth]="'unset'"
              [propFlex]="'1'"
            >
            </background-border>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
