<div class="pb-5"  data-aos="fade-down" data-aos-duration="1000">
  <div class="detail" style="padding-top: 2em">
    <img style="width: 10em; height: auto" src="assets/web-detail.png" alt="" />
  </div>
  <div align="center" class="pt-2">
    <div class="ajust-title">
      <div class="news-divider">
        <h1 class="heading-210">{{ title }}</h1>
        <div class="portfolios-title-divider">
          <div class="horizontal-divider20"></div>
          <div class="horizontal-divider21"></div>
        </div>
        <div class="ajust-title">
          <h3 align="center" class="portfolios1">{{ title }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
