<div id="habilidades" class="section1">
  <app-title-section
    [title]="title"
    class="ajust-skills-title"
  ></app-title-section>

  <div class="container">
    <div class="skills-description container-content">
      <div class="skills-intro">
        <h1
          class="all-the-skills-container"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          <p class="all-the-skills">
            All the skills that I have in that field of work are mentioned.
          </p>
        </h1>
        <div
          class="lorem-ipsum-dolor-container2"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores.<br /><br />
        </div>
        <div
          class="stet-clita-kasd-container"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          <span>
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
            dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt.
          </span>
        </div>
      </div>
      <div class="software-skills">
        <div class="container2">
          <div
            class="frame-group"
            data-aos="fade-down"
          >
            <div class="skill-elements">
              <b class="heading-32">Photoshop</b>
              <div class="empty-dividers-bar">95%</div>
            </div>
            <div class="horizontal-divider8">
              <div class="horizontal-divider9"></div>
            </div>
          </div>
          <div
            class="frame-group"
            data-aos="fade-down"
          >
            <div class="skill-elements">
              <b class="heading-32">Motion Graphic</b>
              <div class="div6">75%</div>
            </div>
            <div class="horizontal-divider8">
              <div class="horizontal-divider9"></div>
            </div>
          </div>
          <div
            class="frame-group"
            data-aos="fade-down"
          >
            <div class="skill-elements">
              <b class="heading-33">Adobe XD</b>
              <div class="div6">90%</div>
            </div>
            <div class="horizontal-divider8">
              <div class="horizontal-divider11"></div>
            </div>
          </div>
          <div
            class="frame-group"
            data-aos="fade-down"
          >
            <div class="heading-3-ux-design-parent">
              <b class="heading-34">UX Design</b>
              <div class="div6">85%</div>
            </div>
            <div class="horizontal-divider12">
              <div class="horizontal-divider13"></div>
            </div>
          </div>
          <div
            class="frame-group"
            data-aos="fade-down"
          >
            <div class="skill-elements">
              <p class="heading-36">Digital Marketing</p>
              <div class="div6">90%</div>
            </div>
            <div class="horizontal-divider8">
              <div class="horizontal-divider11"></div>
            </div>
          </div>
          <div
            class="frame-group"
            data-aos="fade-down"
          >
            <div class="skill-elements">
              <b class="heading-35">HTML</b>
              <div class="div6">80%</div>
            </div>
            <div class="horizontal-divider8">
              <div class="horizontal-divider15"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
